src/main/mule/main.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="getAllRepos" doc:id="0004ed78-e33d-4799-9674-5814ed7a50da" >
		<http:listener doc:name="Listener" doc:id="56bd7eac-ec47-4ee2-9c68-f6d83897d8fd" config-ref="HTTP_Listener_TESTS" path="/repos" allowedMethods="GET"/>
		<logger level="INFO" doc:name="Logger" doc:id="08278866-fb45-4298-8c84-c50c13e0d925" message='#["Received Get all repos request"]'/>
		<http:request method="GET" doc:name="Request" doc:id="6f0e889d-9163-4f3d-a83e-f5d3a6764911" config-ref="HTTP_Request_Github_API" path="/users/${github.username}/repos">
			<http:headers ><![CDATA[#[output application/java
---
{
	"Authorization" : p("github.token"),
	"Accept" : "application/vnd.github+json",
	"X-GitHub-Api-Version" : "2022-11-28"
}]]]></http:headers>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="8a517657-8450-4d13-8622-5d4f100f6afb" message="#[payload]"/>
	</flow>
	<flow name="createRepo" doc:id="812d7bae-3e35-41d0-b48b-da9a4f3df2a2" >
		<http:listener doc:name="Listener" doc:id="8a62013a-a25f-40d8-b141-333b14481b85" config-ref="HTTP_Listener_TESTS" path="/repos" allowedMethods="POST"/>
		<logger level="INFO" doc:name="Logger" doc:id="76374cce-934c-4dc1-aa59-f00679a7d8f4" message='#["Received Create Repo Request"]'/>
		<ee:transform doc:name="Transform Message" doc:id="19e51693-87d2-408b-be31-c4e501665268" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
    "name": payload.name,
    "description": payload.description,
    "homepage": "https://github.com",
    "private": payload.is_private,
    "is_template": false
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="Github - Create Repo" doc:id="2451a433-4d85-4985-92b2-ef52fbdca527" config-ref="HTTP_Request_Github_API" path="/user/repos">
			<http:headers ><![CDATA[#[output application/java
---
{
	"Authorization" : p("github.token"),
	"Accept" : "application/vnd.github+json",
	"X-GitHub-Api-Version" : "2022-11-28"
}]]]></http:headers>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="28b4162e-e513-444a-b318-ecf0968180e0" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="053cf5d3-29fc-4ed8-8369-0592d8d2d3d8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "responseCode": 201,
  "responseMessage": "SUCCESS - Repo created",
  "repo_id": payload.id
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="201" doc:name="Set httpStatus to 201" doc:id="fb2745fc-6fd4-4800-bdb6-57a01aac7ed6" variableName="httpStatus"/>
	</flow>
	<flow name="createRepoFromTemplate" doc:id="53b1fc4b-ae46-486b-b7f0-a9fe7f48847c" >
		<logger level="INFO" doc:name="Logger" doc:id="989ac127-e4de-484a-ab09-14b7e1452e17" message='#["Received Create Repo from Template"]'/>
		<set-variable value="#[attributes.uriParams.template]" doc:name="template" doc:id="992a8083-9ad6-4865-9a05-9839db5e3f56" variableName="template"/>
		<ee:transform doc:name="Transform Message" doc:id="5a9a656a-fa31-46c5-afb2-981c1a7967c2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
    "name": payload.name,
    "description": payload.description,
    "include_all_branches": payload.include_all_branches,
    "private": payload.is_private
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="Request" doc:id="b2d9032b-9682-4817-9f9a-a3f2f58357d7" config-ref="HTTP_Request_Github_API" path="/repos/${github.username}/{template}/generate">
			<http:headers ><![CDATA[#[output application/java
---
{
	"Authorization" : p("github.token"),
	"Accept" : "application/vnd.github+json",
	"X-GitHub-Api-Version" : "2022-11-28"
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"template" : vars.template
}]]]></http:uri-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="80171190-8e73-4dfb-a081-87d1228f7dfa" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="497d249a-f159-443a-b302-7c320b5682ba" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "responseCode": 201,
  "responseMessage": "SUCCESS - Repo created",
  "repo_id": payload.id
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="201" doc:name="Set httpStatus to 201" doc:id="d380435e-385e-4871-9f63-d96cac6b385b" variableName="httpStatus"/>
	</flow>
	<flow name="createEnvironment" doc:id="cb8f1bc5-e4ce-40b4-8919-20c864c5aa50" >
		<logger level="INFO" doc:name="Logger" doc:id="a2ebba40-b0fa-4afc-aae0-97363621d7ca" message='#["Received Create Environment Request"]'/>
		<set-variable value="#[payload.name]" doc:name="environment" doc:id="afb19a77-de3e-4f68-bb67-f3a895febad9" variableName="environment"/>
		<set-variable value="#[attributes.uriParams.repo]" doc:name="repo" doc:id="1ea6bbb8-22ca-4451-b849-6cdb2925ed22" variableName="repo"/>
		<ee:transform doc:name="Transform Message" doc:id="015bc685-a7cd-4ab4-9366-a1a978aa3d11" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
    "wait_timer":0,
    "prevent_self_review":false,
    "reviewers":[],
    "deployment_branch_policy":{
        "protected_branches":false,
        "custom_branch_policies":true
        }
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="PUT" doc:name="Request" doc:id="666c65f4-cbfe-401b-b462-dacce3c31eab" config-ref="HTTP_Request_Github_API" path="/repos/${github.username}/{repo}/environments/{environment}">
			<http:headers ><![CDATA[#[output application/java
---
{
	"Authorization" : p("github.token"),
	"Accept" : "application/vnd.github+json",
	"X-GitHub-Api-Version" : "2022-11-28"
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"repo" : vars.repo,
	"environment" : vars.environment
}]]]></http:uri-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="bce4478d-f4f0-4dd3-bf44-2d18b2b5a6b3" message="#[payload]"/>
		<set-variable value="201" doc:name="Set httpStatus to 201" doc:id="331fe426-9242-486c-a37f-8fd1db1c2963" variableName="httpStatus"/>
		<ee:transform doc:name="Transform Message" doc:id="a70ba470-64d3-4c22-bef7-2bcff04babdf" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "responseCode": 201,
  "responseMessage": "SUCCESS - Environment created",
  "environment_id": payload.id,
  "environment_url": payload.url
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="createRepoVariable" doc:id="f19075f4-7b88-4c94-aca9-18865dfee35a" >
		<logger level="INFO" doc:name="Logger" doc:id="7e9a7afd-4b23-4139-9b73-cb0fb750f228" message='#["Received Create Repo Variable Request"]'/>
		<set-variable value="#[attributes.uriParams.repo]" doc:name="repo" doc:id="1ce3c722-5b6a-4801-9754-d98c464eead6" variableName="repo"/>
		<http:request method="POST" doc:name="GITHUB API - Create Repo Variable" doc:id="1fb2f7eb-f7d3-4512-a1f8-7d8b1789936e" config-ref="HTTP_Request_Github_API" path="/repos/${github.username}/{repo}/actions/variables">
			<http:headers ><![CDATA[#[output application/java
---
{
	"Authorization" : p("github.token"),
	"Accept" : "application/vnd.github+json",
	"X-GitHub-Api-Version" : "2022-11-28"
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"repo" : vars.repo
}]]]></http:uri-params>
		</http:request>
		<set-variable value="201" doc:name="Set httpStatus to 201" doc:id="875de1ca-2ad5-4516-b986-c9460bf43eea" variableName="httpStatus"/>
		<set-payload value='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;  "responseCode": 201,&#10;  "responseMessage": "SUCCESS - Variable created"&#10;}]' doc:name="Set Payload" doc:id="68b07b90-018c-4d93-b94e-b4a5a817df56" />
	</flow>
	<flow name="deleteRepo" doc:id="c5aec223-66f5-4bc7-94ab-f1cc4add3c62" >
		<http:listener doc:name="Listener" doc:id="761e9168-83b3-4c00-869a-04dabc903706" config-ref="HTTP_Listener_TESTS" path="/repos/{repo}" allowedMethods="DELETE"/>
		<logger level="INFO" doc:name="Logger" doc:id="feccf47b-7665-460e-a61b-efe8f400dce9" message='#["Received DELETE REPO Request"]'/>
		<http:request method="DELETE" doc:name="Request" doc:id="f7adb814-362f-4346-b5a7-98a9ea93f77d" config-ref="HTTP_Request_Github_API" path="/repos/${github.username}/{repo}">
			<http:headers ><![CDATA[#[output application/java
---
{
	"Authorization" : p("github.token"),
	"Accept" : "application/vnd.github+json",
	"X-GitHub-Api-Version" : "2022-11-28"
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"repo" : attributes.uriParams.repo
}]]]></http:uri-params>
		</http:request>
		<set-variable value="204" doc:name="Set httpStatus to 204" doc:id="a65ddb8d-9917-44d2-b42d-44ec7f9f03c4" variableName="httpStatus"/>
		<ee:transform doc:name="Transform Message" doc:id="030479b5-3b6f-4cc9-8934-dc5055ae7c3f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "responseCode": 204,
  "responseMessage": "SUCCESS - Repo deleted"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="1884cb33-2b4b-4c74-a4fa-c327533e358f" message="#[payload]"/>
	</flow>
	<flow name="createEnvironmentVariable" doc:id="9ce0b20d-e9f7-48af-8b7d-da67e8a9612b" >
		<logger level="INFO" doc:name="Logger" doc:id="e6b51f07-c6af-4135-a14a-05a0fa7524e8" />
		<set-variable value="#[attributes.uriParams.repo_id]" doc:name="repo_id" doc:id="e33ad6f1-e925-4663-bd14-0ba9a27bc2ea" variableName="repo_id"/>
		<set-variable value="#[attributes.uriParams.environment]" doc:name="environment" doc:id="34edc6a5-2e7f-47f3-b7ff-dbf98e83d386" variableName="environment"/>
		<http:request method="POST" doc:name="Request" doc:id="050116df-6157-4d7c-8ddf-5e0f28b0ab2c" config-ref="HTTP_Request_Github_API" path="/repositories/{repo_id}/environments/{environment}/variables">
			<http:headers ><![CDATA[#[output application/java
---
{
	"Authorization" : p("github.token"),
	"Accept" : "application/vnd.github+json",
	"X-GitHub-Api-Version" : "2022-11-28"
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"repo_id" : vars.repo_id,
	"environment": vars.environment
}]]]></http:uri-params>
		</http:request>
		<set-variable value="201" doc:name="Set httpStatus to 201" doc:id="1bf2bdb2-8b79-4e45-9704-7b386dbee5f5" variableName="httpStatus"/>
		<ee:transform doc:name="Transform Message" doc:id="a2089cdd-0688-4592-9fed-a34620ac83fe" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "responseCode": 201,
  "responseMessage": "SUCCESS - Variable created"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
